.Card {
}

.border_0 {
  border-radius: 0;
}

.border_12 {
  border-radius: 12px;
}

.border_18 {
  border-radius: 18px;
}

.clear {
  background-color: unset;
}

.fullHeight {
  height: 100%;
}

.fullWidth {
  width: 100%;
}

.gap_0 {
  padding: 0;
}

.gap_8 {
  padding: 8px;
}

.gap_16 {
  padding: 16px;
}

.gap_24 {
  padding: 24px;
}

.gap_32 {
  padding: 32px;
}
