body.light {
  --bg-color: #fff;
  --inverted-bg-color: #000;
  --primary-color: #5fbf77;
  --inverted-primary-color: #fff;
  --secondary-color: #cfcfe4;

  --shadow-color: #23235f30;

  --skeleton-color: #eee6e6;
  --skeleton-shadow: rgba(0 0 0 / 5%);
}
