body.dark {
  --bg-color: #292731;
  --inverted-bg-color: #ebeceb;
  --primary-color: #a9b7dc;
  --inverted-primary-color: #1c1c1c;
  --secondary-color: #cfcfe4;

  --shadow-color: #00000030;

  --skeleton-color: #eee6e6;
  --skeleton-shadow: rgba(0 0 0 / 5%);
}
